
  <div *ngIf="semaforo | async as showData; else loading">
    <div #showData>
      <app-table-component  [table-model]="tableTemplate">

      </app-table-component>
    </div>
    <ng-template #loading> loading table ...</ng-template>
    
    <button> New User </button>
  </div>

<!--<div *ngIf="showDetail">
  <app-utenti-dettaglio #dettaglio 
  
   [nuovo]="newU" (showUlist)="reload($event)" > </app-utenti-dettaglio>
  <div #nulla></div>
</div>-->