<table>
  <thead>
    <tr>
      <th *ngFor="let h of columnLabels"> {{h}} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of dati">
      <td *ngFor="let lables of rowFields">
        <span *ngIf="lables === idxLabel">
          <a href="javascript:void=0" (click)="SelectedId(i[lables])"> {{i[lables]}} </a>
        </span>
      <span *ngIf="lables !== idxLabel">
            {{i[lables]}} <!--equivale a un i.label -->
        </span>
      </td>
    </tr>
  </tbody>
</table>