<!--<div  *ngIf="!logged">
  <app-login (logge)="logF($event)"></app-login>
</div>
<div *ngIf="logged"><h1>
    {{title}}
  </h1>
  <aside> <app-nav-side  (showMenu)="showCMenu($event)"></app-nav-side> </aside>
  <aside>
    <div *ngIf="mostra">
       <app-usr-list2 > </app-usr-list2>    
    </div>
    <div *ngIf="mlib" >
        <app-libri-list> </app-libri-list>
    </div>
  </aside>
  
</div>-->
<h1 *ngIf="loggato"> Benvenuto </h1>
<aside *ngIf="loggato" [ngClass]="{'notlogged':!loggato, 'logged':loggato}"> <app-nav-side></app-nav-side> </aside>
<aside>
  <router-outlet> </router-outlet>
</aside>