h1                          {text-align: center; background-color: cornflowerblue; color:white}
.logged                     {width: 15%; height:500px;  float:left; border-right:2px solid black; box-sizing: border-box; }
aside                       {width: 85%; float: left;}
.notlogged                  {width: 0px; height:0;  float:left; border-right:0px; box-sizing: border-box; }