<div *ngIf="semaforo | async as a; else caricamento">
  <div #a>
    <form #g="ngForm">
      <div>
        <label for="nome"></label> <span>Nome</span>
        <input name="nome" id="nome" [(ngModel)]="usr.nome" #nome="ngModel" required>  
      </div>
      <div>
        <label for="cognome"></label> <span> Cognome </span>
        <input name="cognome" id="cognome" [(ngModel)]="usr.cognome" #cognome="ngModel" required>  
      </div>
      <div>
        <label for="username"></label> <span> UserName </span>
        <input name="username" id="username" [(ngModel)]="usr.username" #username="ngModel" required>  
      </div>
      <div>
        <label for="password"></label> <span> Password </span>
        <input type="password" name="password" id="password" [(ngModel)]="usr.password" #password="ngModel" required>  
      </div>
      <div>
          <label for="tessera"></label> <span> Tessera </span> 
          <input name="tessera" id="tessera" [(ngModel)]="usr.tessera" #tessera="ngModel" required>  
      </div>
      <div>
      <div *ngIf="!nuovo"> <button [disabled]="!g.valid" (click)="saveUsr()"> SAVE </button> </div>
      <div *ngIf="ad"> <button [disabled]="!g.valid" (click)="delete()"> CANCELLA </button> </div>
      <div *ngIf="nuovo"> <button [disabled]="!g.valid" (click)="newUsr()"> REGISTRATI </button> </div>
      </div>

    </form> 
  </div>
  <ng-component #caricamento> Why are you here????????? </ng-component>
</div>
