form     {  width:100%;
            margin:0 auto;
            height:250px;
            position:absolute;
            top:20%; left:40%;
            height:300px; width:250px;
            border:2px solid black;
            background-color: #FEF;
            border-radius: 0 15px 0 15px;
        }

div     { 
            width:250px;
            text-align: center;
            padding-bottom: 10px;
        }
        
aside   {
            margin:30px 0 80px 0;
        }        

tr,th   {padding:0 15px; box-sizing:border-box; background-color:white; text-align: center;}
.odd    {background-color:#FEF}
tr:hover {background: rgba(0,0,0,0.2); }
p       {text-align: center; padding-top:35px;}
