<div [hidden]="showDetail">
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>NOME COGNOME</th>
      <th>TESSERA</th>
      <th>USERNAME</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of utenti; let idx = index" [ngClass]="{'odd':!(idx%2)}">
      <td>
        {{u.id}}
      </td>
      <td>
       <a (click)="dettaglioUsr(u.id)" href='#'>
        {{u.nome}}
      
        {{u.cognome}}
      </a>
      </td>
      <td>
        {{u.tessera}}
      </td>
      <td>
        {{u.username}}
      </td>
    </tr>
  </tbody>
</table>
<button (click)="newUsr()"> New User </button>
</div>
<div *ngIf="showDetail">
    <app-utenti-dettaglio [dettaglioU]="selectedUsr" [nuovo]="newU" (showUlist)="reload($event)" > </app-utenti-dettaglio>
 </div>