table   {width:100%; margin:0 auto; height:250px;}
tr,th   {padding:0 15px; box-sizing:border-box; background-color:white; text-align: center;}
.odd    {background-color:#FEF}
tr:hover {background: rgba(0,0,0,0.2); }