<table>
    <thead>
      <tr>
        <th>Autore </th>
        <th>Titolo</th>
        <th>Numero Pagine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of libri; let idx = index" [ngClass]="{'odd':!(idx%2)}">
        <td>
               {{u.autore.nome}}       
               {{u.autore.cognome}}
        </td>
        <td>
            {{u.titolo}}
        </td>
        <td>
          {{u.numPagine}}
        </td>
      </tr>
    </tbody>
  </table>
  
  