<h2> MENÙ </h2>
<p href=# (click)="evento(1)">
 <a><span> <fa-icon [icon]="['fas', 'address-card']"></fa-icon> </span> <span> Lista utenti </span> </a>
</p>
<p href=# (click)="evento(2)">
 <a><span> <fa-icon [icon]="['fas', 'book']"></fa-icon></span> <span> Lista libri </span></a>
</p>
<p href=# (click)="evento(3)">
 <a> <span> <fa-icon [icon]="['fas', 'arrows-alt-h']"></fa-icon> </span><span> Lista prestiti </span></a>
</p>
