a   {text-decoration:none;
     color:#000; font-weight: bold; line-height:30px;
    padding-left: 5px; }
p   {background-color: #FFF; margin:0; height:30px; }
p:nth-of-type(odd)   {background-color: rgb(193, 183, 209)}
h2   {
      font-size:18px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
        }
p:hover {
    background-color: rgba(0,0,0,0.8);

} 
p:hover a   { color:white;}
fa-icon { padding-right:5px; display: inline-block; }
span            {width:40px; height:21px;  display: inline-block; }
span:nth-of-type(even)    { width:110px }